@using NLMK.Helpers;
@using HtmlHelper = NLMK.Helpers.MyHtmlHelper
@model Project?

@if (Model is null)
{
    return;
}


<h2 style="text-align: center">@Model.Name</h2>

<div class="hierarchy-wrapper">
    @if (Model.ChildObjects != null)
    {
        @foreach (var topObjectModel in Model.ChildObjects)
        {
           @Html.Raw(HtmlHelper.WriteProjectHierarchyDivElement(topObjectModel));
        }
        
    }
</div>
<script>

function displayObject(id)
{
    event.stopPropagation()
    
    let clickedNode = document.getElementById(id);
    
    let childNodes = clickedNode.childNodes;
    
    if (childNodes.length < 1)
        return;
    
    if (childNodes[1].style.display.toLowerCase() == "none")
    {
        for (let i = 1; i < childNodes.length; i++)
        {
            childNodes[i].style.display = "block";    
        }
    }else
    {
        for (let i = 1; i < childNodes.length; i++)
            childNodes[i].style.display = "none";
    }
}

</script>

