@model Project?

@if (Model is null)
{
    return;
}


<h2>@Model.Name</h2>

<div class="hierarchy-wrapper">
    @if (Model.ChildObjects != null)
    {
        @foreach (var topObjectModel in Model.ChildObjects)
        {
            <div class="object" id="@topObjectModel.Id" style="display: none" onclick="displayObject(@topObjectModel.Id)">
                @topObjectModel.Name
            </div>
        }
        
    }
</div>
<script>

function displayObject(id)
{
    let clickedNode = document.querySelector(`#${id}`);
    
    let childNodes = clickedNode.childNodes;
    
    if (childNodes.length == 0)
        return;
    
    if (childNodes[0].style.display.toLowerCase() == "none")
    {
        for (let i = 0; i < childNodes.length; i++)
            childNodes[i].style.display = "block";    
    }else
    {
        for (let i = 0; i < childNodes.length; i++)
            childNodes[i].style.display = "none";
    }
}

</script>

