@using NLMK.Helpers
@using HtmlHelper = NLMK.Helpers.MyHtmlHelper
@model Project?

<table class="table">
    <thead>
    <tr>
        <td>Направление</td>
        <td>Код</td>
        <td>Документ</td>
        <td>Норматив чел./час.</td>
        <td>Кол-во</td>
        <td>Итого (все)</td>
    </tr>
    </thead>
    <tbody class="table-body">
    @if (Model.ProjectId == -1)
    {
        <tr style="border: 0">
            <td style="border: 0"></td>
            <td style="border: 0"></td>
            <td style="border: 0"></td>
            <td style="border: 0">Выберите проект</td>
            <td style="border: 0"></td>
            <td style="border: 0"></td>
        </tr>
        return;
    }

    @if (Model.ChildObjects is null)
    {
        <tr style="border: 0">
            <td style="border: 0"></td>
            <td style="border: 0"></td>
            <td style="border: 0"></td>
            <td style="border: 0"> Нет информации</td>
            <td style="border: 0"></td>
            <td style="border: 0"></td>
        </tr>
        return;
    }

    @if (Model.ChildObjects.Count == 0)
    {
        <tr style="border: 0">
            <td style="border: 0"></td>
            <td style="border: 0"></td>
            <td style="border: 0"></td>
            <td style="border: 0"> Нет информации</td>
            <td style="border: 0"></td>
            <td style="border: 0"></td>
        </tr>
        return;
    }
    else
    {
        foreach (var modelObj in Model.ChildObjects)
        {
            @Html.Raw(HtmlHelper.WriteProjectTable(modelObj))
        }
    }
    </tbody>
</table>